# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.swp

# Flutter
noctis_app/.dart_tool/
noctis_app/.flutter-plugins
noctis_app/.flutter-plugins-dependencies
noctis_app/.packages
noctis_app/.pub-cache/
noctis_app/.pub/
noctis_app/build/
noctis_app/.fvm/
noctis_app/coverage/
noctis_app/pubspec.lock

# Android
noctis_app/android/.gradle/
noctis_app/android/build/
noctis_app/android/app/build/
noctis_app/android/local.properties
noctis_app/android/key.properties
noctis_app/android/app/release.keystore
noctis_app/android/app/upload-keystore.jks
noctis_app/android/.cxx/
noctis_app/android/captures/

# iOS
noctis_app/ios/Pods/
noctis_app/ios/.symlinks/
noctis_app/ios/Flutter/Flutter.framework
noctis_app/ios/Flutter/Flutter.podspec
noctis_app/ios/Flutter/Generated.xcconfig
noctis_app/ios/Flutter/flutter_export_environment.sh
noctis_app/ios/Runner/GeneratedPluginRegistrant.*

# Go
noctis_backend/bin/
noctis_backend/vendor/
noctis_backend/*.test
noctis_backend/*.out
noctis_backend/coverage.out

# Secrets
.env
.env.*
*.keystore
*.jks
*.p12

# Generated
*.log
